@import '../../../styles/_variables.scss';
.quizcode{
    background-image: linear-gradient(to right bottom, $color-red-light 0%, $color-red-dark 100%);
    color: $color-black;
    margin: 30px auto;
    padding: 20px;
    width: 350px;
    color: $color-white;
    text-shadow: 1px 1px 1px $color-black;
    border-radius: 10px;
}