@import '../../../styles/_variables.scss';

.timer{
    margin: 15px 15px;

    &__face{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid $color-white;
        text-align: center;
        box-shadow: 0 3rem 6rem rgba($color-black, 0.5);
        background-image: linear-gradient(to right bottom, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);

    }

    &__numbers{
        color: $color-white;
        margin-top: 20px;
        font-size: 45px;
    }
}

.skip-link {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-white;
    text-align: center;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.5);
    background-image: linear-gradient(to right bottom, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    font-size: 35px;
    margin: 15px 15px;

}

.skip-link a {
    color: $color-white;
    text-decoration: none;
}


   

