@import '../../../styles/_variables.scss';

.timer{
    margin: 15px 15px;

    &__face{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid $color-white;
        text-align: center;
        box-shadow: 0 3rem 6rem rgba($color-black, 0.5);
        // background-image: linear-gradient(to right bottom, $timer-color-light 0%,  $timer-color-dark 100%);
        background-color: $color-grey;
    }

    &__numbers{
        color: $color-white;
        margin-top: 20px;
        font-size: 45px;
    }
}

.skip-link {
    color: $color-white;
    position: absolute;
    right: 0;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-white;
    text-align: center;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.5);
    // background-image: linear-gradient(to right bottom, $timer-color-light 0%,  $timer-color-dark 100%);
    background-color: $color-grey;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Montserrat';

}

.skip-link  {
    color: $color-white;
   
}


   

