
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
///////////////
//COLORS
///////////////

$color-black: #424242; 
$color-grey: #c7c7c7;
$color-white: #ffffff;

$color-yellow-light: #edde5d;
$color-yellow-dark:#f09819;
$color-red-light: #ffedbc ;
$color-red-dark: #ed4264;
$color-blue-light: #24c6dc;
$color-blue-dark:#514a9d;
$color-green-light:#71b280;
$color-green-dark:#134e5e;

$timer-color-light: #e55d87;
$timer-color-dark: #5fc3e4;

///////////////
///SOMETHING
///////////////