///////////////
//COLORS
///////////////

$color-black: rgb(66, 66, 66); 
$color-grey: #c7c7c7;
$color-white: #fff;
$color-red: red;
$color-blue: blue;
$color-yellow: yellow;
$color-green:green;

///////////////
///SOMETHING
///////////////