@import '../../../styles/variables';

.display {
    font-weight: 100;
    font-family: 'Montserrat';

}

.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    border: 2px solid $color-grey;
    border-radius: 10px;
    height: 450px;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.3);
    overflow: hidden;

    &__content {
        font-weight: 300;
        font-family: 'Montserrat';
        
        &--header {
            color: $color-white;
            font-size: 50px;
            font-family: 'Montserrat';
            font-weight: 300;
            padding: 20px;
            background-image: linear-gradient(to right bottom, $color-blue-dark 0%, $color-blue-light 100%);
        }

        &--player {
            
        }
    }


}
h1{
    font-family: 'Montserrat';
    font-weight: 300; 
    margin: 20px;
}

.next {
    color: $color-white;
    position: absolute;
    right: 0;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-white;
    text-align: center;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.5);
    // background-image: linear-gradient(to right bottom, $timer-color-light 0%,  $timer-color-dark 100%);
    background-color: $color-grey;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Montserrat';
}