@import "../../../styles/_variables.scss";

.display {
  
  text-align: center;
}

// BLUE BUTTON
.answerbutton {
  display: inline-block;
  height: 200px;
  width: 40vw;
  text-align: center;
  margin: 30px 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    $color-blue-light 0%,
    $color-blue-dark 100%
  );
  transition: all .3s;
  &:hover {
    transform: translateY(-.1rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
}

  &__answer {
    margin-top: 75px;
    font-size: 32px;
  }
  &__answertext {
    margin-top: 50px;
    color: $color-white;
    text-decoration: none;
  }
}


//YELLOW BUTTON
.answerbutton:nth-child(2) {
  display: inline-block;
  height: 200px;
  width: 40vw;
  text-align: center;
  margin: 30px 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    $color-yellow-light 0%,
    $color-yellow-dark 100%
  );

  &__answer {
    margin-top: 75px;
    font-size: 32px;

    &__answertext {
      margin-top: 50px;
      color: $color-white;
      text-decoration: none;
    }
  }
}

//GREEN BUTTON
.answerbutton:nth-child(3) {
  display: inline-block;
  height: 200px;
  width: 40vw;
  text-align: center;
  margin: 30px 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    $color-green-light 0%,
    $color-green-dark 100%
  );
  box-shadow: 0 3rem 6rem rgba($color-black, 0.3);

  &__answer {
    margin-top: 75px;
    font-size: 32px;

    &__answertext {
      margin-top: 50px;
      color: $color-white;
      text-decoration: none;
    }
  }
}

//RED BUTTON
.answerbutton:nth-child(4) {
  display: inline-block;
  height: 200px;
  width: 40vw;
  text-align: center;
  margin: 30px 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    $color-red-light 0%,
    $color-red-dark 100%
  );
  box-shadow: 0 3rem 6rem rgba($color-black, 0.3);

  &__answer {
    margin-top: 75px;
    font-size: 32px;

    &__answertext {
      margin-top: 50px;
      color: $color-white;
      text-decoration: none;
    }
  }
}
