$color-black: #424242;
$color-grey: #c7c7c7;
$color-white: #ffffff;

$color-yellow-light: #ebeb44;
$color-yellow-dark:#94942c;
$color-red-light: #c24141;
$color-red-dark: #7a2828;
$color-blue-light: #4b6cb7;
$color-blue-dark:#182848;
$color-green-light:#add100;
$color-green-dark:#7b972a;